.idea
.idea/
.idea/*

node_modules
node_modules/
node_modules/*

Data/json/*
Data/atlas/*

Resources/iconGenData/icons

Debug/*

updateTracking/work
updateTracking/work/
updateTracking/work/*

serverScripts/genIconlessSprites.mjs
