.idea
.idea/
.idea/*

node_modules
node_modules/
node_modules/*

Data/json/*
Data/atlas/blocks_atlas.json
Data/atlas/blocks_atlas.png
Data/atlas/icons_atlas.json

Debug/*

updateTracking/work
updateTracking/work/
updateTracking/work/*
